*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.load{
  color: red;
  font-size: 25px;
  text-align: center
}

.form{
  text-align: center;
  padding: 5px 0;
}